CHROMA_PERSIST_PATH=./assets/chroma
CHROMA_COLLECTION_NAME=financial_reports
CHROMA_HOST=chroma-db
CHROMA_PORT=8000
EMBEDDING_MODEL=all-MiniLM-L6-v2
CHUNK_SIZE=500
OVERLAP=125
TAVILY_API_KEY=tavily api key
GRANITE_OLLAMA_LLM=granite3.2
LLAMA_OLLAMA_LLM=llama3.1
#LLAMA_API_URL=https://llama.llm-financial.svc.cluster.local/v1/models/granite
#LLAMA_API_KEY=llama api key
#LLAMA_API_LLM=meta-llama/Llama-3.1-8B-Instruct
GRANITE_API_URL=https://granite.llm-financial.svc.cluster.local/v1/models/granite
GRANITE_API_KEY=granite api key
GRANITE_API_LLM=granite-3-8b-instruct
REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
